<!DOCTYPE html>
<html>
  <head>
    <title>Carwash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div id="header">
      Carwash
    </div>
    
    <div id="content">
      <p>
      <%= yield %>
      </p>
    </div>
    
    <div id="footer">
      <b>Test for LinuxAcademy @ http://www.linuxacademy.com</b>
    </div>
  </body>
</html>
